# Predictive Health Assessment: Leveraging DHS Data for Targeted Interventions in Kenya

**Authors**: [Alpha Guya](mailto:alpha.guya@student.moringaschool.com), [Ben Ochoro](mailto:ben.ochoro@student.moringaschool.com), [Caleb Ochieng](mailto:caleb.ochieng@student.moringaschool.com), [Christine Mukiri](mailto:christine.mukiri@student.moringaschool.com), [Dominic Muli](mailto:dominic.muli@student.moringaschool.com), [Frank Mandele](mailto:frank.mandele@student.moringaschool.com), [Jacquiline Tulinye](mailto:jacquiline.tulinye@student.moringaschool.com) and [Lesley Wanjiku](mailto:lesley.wanjiku@student.moringaschool.com)

## 1.0) Project Overview

Our project focuses on using machine learning techniques and data sourced from the Demographic and Health Surveys (DHS) program to generate predictive models aimed at evaluating individual and household health risks in Kenya. By analyzing various set of demographic, socio-economic, and health-related indicators, we target to develop reliable predictive models capable of estimating the likelihood of malnutrition, disease prevalence, and various health risks within certain communities. The goal is to provide users such as public health officials with targeted insights. This will enable more effective allotment of resources and interventions. This proactive approach is geared to optimize the impact of health initiatives, allowing for the prioritization and customization of interventions to at risk populations, ultimately contributing to the improvement of health outcomes in Kenya.

## 1.1) Business Problem

Despite existing health interventions, Kenya encounters difficulties in effectively targeting resources and interventions. This will help to address individual and household health risks, including malnutrition, diseases, and other health concerns. This fault highlights the need for a predictive and targeted approach to allocate resources and interventions more effectively. Leveraging machine learning models built upon Demographic and Health Surveys (DHS) data, the project aims to develop predictive models capable of assessing the likelihood of malnutrition, disease prevalence, and health risks based on individual and household characteristics. By accurately identifying at-risk populations, this solution seeks to empower decision-makers and public health officials to allocate resources on need basis, ultimately increasing the impact of health interventions and improving overall health outcomes in Kenya.

## 1.2) Objectives


Based on the data provided by DHS(Demographic and Health Surveys) , some of the objectives include:

* To analyze trends in health indicators over time.

* To predict Health Risks based on individual and household characteristics. 

* To find the relationship between the most common diseases and the demographic.

*  To Build predictive models to estimate health outcomes based on various demographic and socio-economic factors.

*  To identify regional variations in health indicators.

* To Identify factors contributing to changes in health outcomes.

* To Conduct comprehensive feature engineering to extract relevant features from DHS data, considering demographic, socio-economic, and health-related variables.

### API Deployment and Usability

Deploy an accessible API interface for stakeholders to input data and receive health risk predictions based on the developed models.

### Recommendations and Conclusion
* Targeted Intervention Recommendations:

Utilize model predictions to generate targeted recommendations for health interventions and resource allocation in specific Kenyan communities.

* Impact Assessment and Validation:

Assess the real-world impact of model-guided interventions by monitoring and evaluating changes in health outcomes in targeted Kenyan populations.

## 1.3) Metric of Success

* Achieve a predictive accuracy of at least 90% on unseen validation data.
* Identify and utilize the top 10 most influential features contributing to the models' predictive power.
* Generate clear and interpretable explanations for at least 70% of model predictions.
* Create a prioritized list of actionable recommendations based on identified health risks for at least 100 of communities.
* Ensure an API uptime of at least 90% and gather feedback on usability for further improvements.
* Measure the effectiveness of interventions by observing changes in health indicators, aiming for improvements in at least 80% of targeted communities.

## 1.4) Data Relevance and Validation

The data available is relevant for the intended analysis and predictions

## 2.0) Understanding the Data

The data for this project is obtained from the [DHS Program website](https://dhsprogram.com/data/dataset/Kenya_Standard-DHS_2022.cfm?flag=0).
The encoding for this dataset is explained [here](./Recode7_DHS_10Sep2018_DHSG4.pdf).

## 2.1) Reading the Data

### 2.1.1) Installations

In [1]:
 #installations
#%pip install requests
# %pip install pyreadstat
#%pip install --upgrade openpyxl

### 2.1.2) Importing Relevant Libraries

In [2]:
# importing necessary libraries
import requests, json
import urllib
import urllib.request
import urllib.error
import pandas as pd
import numpy as np
import pyreadstat
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
import warnings
warnings.filterwarnings("ignore")

### 2.1.3) Reading the Data

Observation: we will work with

In [3]:
# Reading downloaded relevant data
# df, meta = pyreadstat.read_sav("KEHR8BFL.SAV")
df_2, meta_2 = pyreadstat.read_sav("KEHR81FL.SAV")

**Renaming columns in df**

In [4]:
# df

In [5]:
# # Saving column names into an Excel file

# # Getting the column names
# column_names = df.columns

# # Creating a DataFrame with a single column containing the column names
# column_names_df = pd.DataFrame(column_names, columns=["Column Names"])

# # Specifying the Excel file path
# excel_file_path = 'column_names.xlsx'

# # Writing the DataFrame to the Excel file
# column_names_df.to_excel(excel_file_path, index=False)

In [6]:
# # Converting column names to labels dictionary to a DataFrame
# labels_df = pd.DataFrame(list(meta.column_names_to_labels.items()), columns=['Column Name', 'Label'])

# # Saving the DataFrame to an Excel file
# excel_file_path = 'column_names_to_labels_1.xlsx'
# labels_df.to_excel(excel_file_path, index=False)

In [7]:
# # Converting Coded column names into readable column names

# # Loading the Excel file with the column names into a Pandas DataFrame
# excel_file_path = 'updated_column_names_dictionary.xlsx'
# df_excel = pd.read_excel(excel_file_path, sheet_name='Sheet1')

# # Displaying the original DataFrame with the column headers
# print("Original Excel DataFrame:")
# print(df_excel)

# # Replacing the column headers using a for loop
# for old_header, new_header in zip(df.columns, df_excel['Label Names']):
#     df.rename(columns={old_header: new_header}, inplace=True)

# # Displaying the DataFrame with the updated column headers
# df

**Renaming columns in df_2**

In [8]:
df_2

,HHID,HV000,HV001,HV002,HV003,HV004,HV005,HV006,HV007,HV008,...,SML16A$15,SML16A$16,SML16A$17,SML16A$18,SML16A$19,SML16A$20,SML16A$21,SML16A$22,SML16A$23,SML16A$24
0,2 1,KE7,2.0,1.0,8.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2 6,KE7,2.0,6.0,2.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2 10,KE7,2.0,10.0,2.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2 13,KE7,2.0,13.0,1.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2 16,KE7,2.0,16.0,3.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7947,9186 155,KE7,9186.0,155.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7948,9186 161,KE7,9186.0,161.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7949,9186 166,KE7,9186.0,166.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7950,9186 170,KE7,9186.0,170.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7951,9186 175,KE7,9186.0,175.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
def collapse_columns(df, prefix, suffixes, combined_column):
    # Extracting columns with the specified prefix and suffixes
    relevant_columns = [col for col in df.columns if col.startswith(prefix) and any(col.endswith(suffix) for suffix in suffixes)]

    # Creating a new column 'combined_column' with the highest value for each row
    df[combined_column] = df[relevant_columns].max(axis=1)

    # Dropping the original columns
    df.drop(relevant_columns, axis=1, inplace=True)

    return df

def filter_and_exclude_prefix(df, prefix, exclude_first_n=6):
    filtered_columns = [col for col in df.columns if col.startswith(prefix)]
    modified_columns = [col[exclude_first_n:] for col in filtered_columns]
    return modified_columns

In [10]:
columns = ['HV120',
           'HC53', 'HC55','HC56','HC57',
           'SB115A','SB115B','SB115C', 'SB115D','SB115E','SB115F','SB115G','SB115H', 'SB119','SB122',
           'HML5','HML6','HML10', 'HML11','HML12', 'HML18', 'HML19',
           'HML32','HML32A', 'HML32B', 'HML32C','HML32D', 'HML32E', 'HML32F', 'HML32G', 'HML33', 'HML34', 'HML35']

for i in columns:
    df_2_suffixes = filter_and_exclude_prefix(df_2, f'{i}$')
    # print(df_2_suffixes)
    collapse_columns(df_2, f'{i}$', df_2_suffixes, f'{i}_combined')
    
    # print(malaria_df[f'{i}_combined'].value_counts())

In [11]:
# Saving column names into an Excel file

# Getting the column names
column_names_2 = df_2.columns

# Creating a DataFrame with a single column containing the column names
column_names_df_2 = pd.DataFrame(column_names_2, columns=["Column Names 2"])

# Specifying the Excel file path
excel_file_path_2 = 'column_names_to_labels_2.xlsx'

# Writing the DataFrame to the Excel file
column_names_df_2.to_excel(excel_file_path_2, index=False)

In [12]:
# Converting column names to labels dictionary to a DataFrame
labels_df_2 = pd.DataFrame(list(meta_2.column_names_to_labels.items()), columns=['Column Name 2', 'Label 2'])

# Saving the DataFrame to an Excel file
excel_file_path_2 = 'column_names_to_labels_2.xlsx'
labels_df_2.to_excel(excel_file_path_2, index=False)

In [13]:
# Converting Coded column names into readable column names

# Loading the Excel file with the column names into a Pandas DataFrame
excel_file_path_2 = 'column_names_dictionary_2.xlsx'
df_excel_2 = pd.read_excel(excel_file_path_2, sheet_name='Sheet1')

# Displaying the original DataFrame with the column headers
print("Original Excel DataFrame:")
print(df_excel_2)

# Replacing the column headers using a for loop
for old_header, new_header in zip(df_2.columns, df_excel_2['Label Names']):
    df_2.rename(columns={old_header: new_header}, inplace=True)

# Displaying the DataFrame with the updated column headers
df_2

Original Excel DataFrame:
         Column Names                 Label Names  \
0                HHID                household_id
1               HV000                country_code
2               HV001             cluster_number
3               HV002            household_number
4               HV003  respondent's_ line_number
...               ...                         ...
1984  HML32C_combined               ovale_present
1985  HML32D_combined               vivax_present
1986  HML32E_combined                  cs_present
1987  HML32F_combined              presence_of_cs
1988  HML32G_combined         na_presence_of_cs_g

                                            Description Unnamed: 3 Unnamed: 4
0                                   Case Identification        NaN        NaN
1                                Country code and phase        NaN        NaN
2                                        Cluster number        NaN        NaN
3                                      Household number        NaN        NaN
4     Respondent's line number (answering Household ...        NaN        NaN
...                                                 ...        ...        ...
1984                    Presence of species: ovale (Po)     HML32C   combined
1985                    Presence of species: vivax (Pv)     HML32D   combined
1986                       NA - Presence of species: CS     HML32E   combined
1987                       NA - Presence of species: CS     HML32F   combined
1988                       NA - Presence of species: CS     HML32G   combined

[1989 rows x 5 columns]

,household_id,country_code,cluster_number,household_number,respondent's_ line_number,area_unit,sample_weight,month_of_the_household_interview,year_of_the_household_interview,month_date_of_household_interview,...,line_number_of_person_slept_in_net_d_1,line_number_of_person_slept_in_net_d_2,line_number_of_person_slept_in_net_d_3,line_number_of_person_slept_in_net_d_4,line_number_of_person_slept_in_net_d_5,line_number_of_person_slept_in_net_d_6,line_number_of_person_slept_in_net_d_7,line_number_of_person_slept_in_net_e_1,line_number_of_person_slept_in_net_e_2,line_number_of_person_slept_in_net_e_3
0,2 1,KE7,2.0,1.0,8.0,2.0,588318.0,11.0,2020.0,1451.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,X6J1O,0.0
1,2 6,KE7,2.0,6.0,2.0,2.0,588318.0,11.0,2020.0,1451.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,W1J4L,0.0
2,2 10,KE7,2.0,10.0,2.0,2.0,588318.0,11.0,2020.0,1451.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,X2H6N,1.0
3,2 13,KE7,2.0,13.0,1.0,2.0,588318.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
4,2 16,KE7,2.0,16.0,3.0,2.0,588318.0,11.0,2020.0,1451.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,W6C0F,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7947,9186 155,KE7,9186.0,155.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,1.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,V1N2M,1.0
7948,9186 161,KE7,9186.0,161.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,1.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,T2M3L,0.0
7949,9186 166,KE7,9186.0,166.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,O8Z1X,0.0
7950,9186 170,KE7,9186.0,170.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,1.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,P2O4K,1.0
7951,9186 175,KE7,9186.0,175.0,1.0,9186.0,454518.0,11.0,2020.0,1451.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN

In [14]:
for col in df_2.columns[:1955]:
    print(col)

household_id
country_code
cluster_number
household_number
respondent's_ line_number
area_unit
sample_weight
month_of_the_household_interview
year_of_the_household_interview
month_date_of_household_interview
day_date_of_household_interview
number_of_household_members
number_of_eligible_women
number_of_de_jure_household_members
number_of_de_facto_household_members
number_of_children_resident
result_of_household_interview
day_of_the_household_interview
number_of_visits
interviewer_id
ever_married
primary_sampling_unit
strata_for_sampling_errors
sample_design
region_of_residence
type_of_place
male_survey
sample_weight_male
field_supervisor
children_under_five
cluster_altitude
women_height_weight_measured
household_hemoglobin_measurements
questionnaire_language
interview_language
respodent_native_language
translator_used
interview_start_time
interview_end_time
interview_length
main_source_drink_water
time_to_water_source
type_toilet_facility
own_electricity
own_radio
own_television
own_refrigerator
member_own_bicycle
member_own_motorcycle
member_own_car
main_floor_material
main_wall_material
main_roof_material
no_sleep_rooms
household_relationship_structure
line_number_of_head_of_household
sex_head_household
age_household_head
household_has_telephone
shares_toilet
cooking_fuel_type
has_mosquito_net
toilet_location
has_mobile
has_watch
owns_animaldrawn_cart
owns_boat_wmotor
owns_computer
owns_agric_land
owns_livestock
owns_cattle
owns_cows_bulls
owns_goats
owns_sheep
owns_poultry
owns_horses
owns_donkeys
owns_mules
owns_pigs
member_has_bank_account
wealth_index_comb
wealth_index_factor
wealth_index_urban_rural
wealth_index_factor_urban_rural
number_of_mosquito_nets
number_of_mosquito_nets_specific
children_under_mosquito_net
county
malaria_endemicity_zone
type_of_cooking_device
has_solar_panel
has_table
has_chair
has_sofa
has_bed
has_cupboard
has_clock
has_microwave
has_dvd_player
has_cd_player
use_phone_for_finc_transactions
used_mosquito_relellent_spray
line_number_1
line_number_2
rshp_to_head_1
rshp_to_head_2
usual_resident_1
usual_resident_2
stayed_last_night_1
stayed_last_night_2
sex_of_member_1
sex_of_member_2
age_of_member_1
age_of_member_2
female_int_eligibility_1
female_int_eligibility_2
child_hwh_eligibility_1
child_hwh_eligibility_2
index_to_household_schedule_hmhidx_1
index_to_household_schedule_hmhidx_2
mosq_net_type_1
mosq_net_type_2
net_design_no_1
net_design_no_2
corr_age_1
corr_age_2
flag_age_1
flag_age_2
slept_treated_net_1
slept_treated_net_2
slept_llin_net_1
slept_llin_net_2
number_of_eligible_men
keyer_identification
na_place_of_residence
na_field_editor
na_office_editor
number_of_visits_for_biomarker
day_of_biomarker_visit
month_of_biomarker_visit
year_of_biomarker_visit
date_of_biomarker
date_of_biomarker_century_day_code
source_of_water
na_water_not_available_for_at_least_a_day_last_two_weeks
children_under_slept_under_mosquito_bed_net_last_night
location_of_source_for_water
number_of_households_sharing_toilet
na_food_cooked_on_stove_or_open_fire
stove_has_chimney
food_prep_place
household_has_separate_room_used_as_kitchen
hectares_of_agricultural_land
owns_horses_donkeys
na_owns_cs
type_of_cooking_fuel_energy
line_number_3
line_number_4
line_number_5
line_number_6
line_number_7
line_number_8
line_number_9
line_number_10
line_number_11
line_number_12
line_number_13
line_number_14
line_number_15
line_number_16
line_number_17
line_number_18
line_number_19
line_number_20
line_number_21
line_number_22
line_number_23
line_number_24
relationship_to_head_3
relationship_to_head_4
relationship_to_head_5
relationship_to_head_6
relationship_to_head_7
relationship_to_head_8
relationship_to_head_9
relationship_to_head_10
relationship_to_head_11
relationship_to_head_12
relationship_to_head_13
relationship_to_head_14
relationship_to_head_15
relationship_to_head_16
relationship_to_head_17
relationship_to_head_18
relationship_to_head_19
relationship_to_head_20
relationship_to_head_21
relationship_to_head_22
relationship_to_head_23
relationship_to_head_24
usual_resident_3
usual_resident_4
usual_resident_5
usual_resident_6
usual_resident_7
usual_resident_8
usual_resident_9
usual_resident_10
usual_resident_11
usual_resident_12
usual_resident_13
usual_resident_14
usual_resident_15
usual_resident_16
usual_resident_17
usual_resident_18
usual_resident_19
usual_resident_20
usual_resident_21
usual_resident_22
usual_resident_23
usual_resident_24
stayed_last_night_3
stayed_last_night_4
stayed_last_night_5
stayed_last_night_6
stayed_last_night_7
stayed_last_night_8
stayed_last_night_9
stayed_last_night_10
stayed_last_night_11
stayed_last_night_12
stayed_last_night_13
stayed_last_night_14
stayed_last_night_15
stayed_last_night_16
stayed_last_night_17
stayed_last_night_18
stayed_last_night_19
stayed_last_night_20
stayed_last_night_21
stayed_last_night_22
stayed_last_night_23
stayed_last_night_24
sex_of_household_member_3
sex_of_household_member_4
sex_of_household_member_5
sex_of_household_member_6
sex_of_household_member_7
sex_of_household_member_8
sex_of_household_member_9
sex_of_household_member_10
sex_of_household_member_11
sex_of_household_member_12
sex_of_household_member_13
sex_of_household_member_14
sex_of_household_member_15
sex_of_household_member_16
sex_of_household_member_17
sex_of_household_member_18
sex_of_household_member_19
sex_of_household_member_20
sex_of_household_member_21
sex_of_household_member_22
sex_of_household_member_23
sex_of_household_member_24
age_of_household_members_3
age_of_household_members_4
age_of_household_members_5
age_of_household_members_6
age_of_household_members_7
age_of_household_members_8
age_of_household_members_9
age_of_household_members_10
age_of_household_members_11
age_of_household_members_12
age_of_household_members_13
age_of_household_members_14
age_of_household_members_15
age_of_household_members_16
age_of_household_members_17
age_of_household_members_18
age_of_household_members_19
age_of_household_members_20
age_of_household_members_21
age_of_household_members_22
age_of_household_members_23
age_of_household_members_24
eligibility_for_female_interview_3
eligibility_for_female_interview_4
eligibility_for_female_interview_5
eligibility_for_female_interview_6
eligibility_for_female_interview_7
eligibility_for_female_interview_8
eligibility_for_female_interview_9
eligibility_for_female_interview_10
eligibility_for_female_interview_11
eligibility_for_female_interview_12
eligibility_for_female_interview_13
eligibility_for_female_interview_14
eligibility_for_female_interview_15
eligibility_for_female_interview_16
eligibility_for_female_interview_17
eligibility_for_female_interview_18
eligibility_for_female_interview_19
eligibility_for_female_interview_20
eligibility_for_female_interview_21
eligibility_for_female_interview_22
eligibility_for_female_interview_23
eligibility_for_female_interview_24
children_hemoglobin_elig_3
children_hemoglobin_elig_4
children_hemoglobin_elig_5
children_hemoglobin_elig_6
children_hemoglobin_elig_7
children_hemoglobin_elig_8
children_hemoglobin_elig_9
children_hemoglobin_elig_10
children_hemoglobin_elig_11
children_hemoglobin_elig_12
children_hemoglobin_elig_13
children_hemoglobin_elig_14
children_hemoglobin_elig_15
children_hemoglobin_elig_16
children_hemoglobin_elig_17
children_hemoglobin_elig_18
children_hemoglobin_elig_19
children_hemoglobin_elig_20
children_hemoglobin_elig_21
children_hemoglobin_elig_22
children_hemoglobin_elig_23
children_hemoglobin_elig_24
index_to_household_schedule_hc0_1
index_to_household_schedule_hc0_2
index_to_household_schedule_3
index_to_household_schedule_4
index_to_household_schedule_5
index_to_household_schedule_6
index_to_household_schedule_7
index_to_household_schedule_8
index_to_household_schedule_9
index_to_household_schedule_10
index_to_household_schedule_11
index_to_household_schedule_12
index_to_household_schedule_13
index_to_household_schedule_14
index_to_household_schedule_15
index_to_household_schedule_16
index_to_household_schedule_17
index_to_household_schedule_18
index_to_household_schedule_19
index_to_household_schedule_20
childs_age_in_months_1
childs_age_in_months_2
childs_age_in_months_3
childs_age_in_months_4
childs_age_in_months_5
childs_age_in_months_6
childs_age_in_months_7
childs_age_in_months_8
childs_age_in_months_9
childs_age_in_months_10
childs_age_in_months_11
childs_age_in_months_12
childs_age_in_months_13
childs_age_in_months_14
childs_age_in_months_15
childs_age_in_months_16
childs_age_in_months_17
childs_age_in_months_18
childs_age_in_months_19
childs_age_in_months_20
childs_age_in_months_21
childs_age_in_months_22
childs_age_in_months_23
childs_age_in_months_24
childs_age_in_months_25
childs_age_in_months_26
childs_age_in_months_27
childs_age_in_months_28
childs_age_in_months_29
childs_age_in_months_30
childs_age_in_months_31
childs_age_in_months_32
childs_age_in_months_33
childs_age_in_months_34
childs_age_in_months_35
childs_age_in_months_36
childs_age_in_months_37
childs_age_in_months_38
childs_age_in_months_39
childs_age_in_months_40
Day_of_birth_1
Day_of_birth_2
Day_of_birth_3
Day_of_birth_4
Day_of_birth_5
Day_of_birth_6
Day_of_birth_7
Day_of_birth_8
Day_of_birth_9
Day_of_birth_10
Day_of_birth_11
Day_of_birth_12
Day_of_birth_13
Day_of_birth_14
Day_of_birth_15
Day_of_birth_16
Day_of_birth_17
Day_of_birth_18
Day_of_birth_19
Day_of_birth_20
Date_measured_day_1
Date_measured_day_2
Date_measured_day_3
Date_measured_day_4
Date_measured_day_5
Date_measured_day_6
Date_measured_day_7
Date_measured_day_8
Date_measured_day_9
Date_measured_day_10
Date_measured_day_11
Date_measured_day_12
Date_measured_day_13
Date_measured_day_14
Date_measured_day_15
Date_measured_day_16
Date_measured_day_17
Date_measured_day_18
Date_measured_day_19
Date_measured_day_20
Date_measured_month_1
Date_measured_month_2
Date_measured_month_3
Date_measured_month_4
Date_measured_month_5
Date_measured_month_6
Date_measured_month_7
Date_measured_month_8
Date_measured_month_9
Date_measured_month_10
Date_measured_month_11
Date_measured_month_12
Date_measured_month_13
Date_measured_month_14
Date_measured_month_15
Date_measured_month_16
Date_measured_month_17
Date_measured_month_18
Date_measured_month_19
Date_measured_month_20
Date_measured_year_1
Date_measured_year_2
Date_measured_year_3
Date_measured_year_4
Date_measured_year_5
Date_measured_year_6
Date_measured_year_7
Date_measured_year_8
Date_measured_year_9
Date_measured_year_10
Date_measured_year_11
Date_measured_year_12
Date_measured_year_13
Date_measured_year_14
Date_measured_year_15
Date_measured_year_16
Date_measured_year_17
Date_measured_year_18
Date_measured_year_19
Date_measured_year_20
century_day_code_of_measurement_1
century_day_code_of_measurement_2
century_day_code_of_measurement_3
century_day_code_of_measurement_4
century_day_code_of_measurement_5
century_day_code_of_measurement_6
century_day_code_of_measurement_7
century_day_code_of_measurement_8
century_day_code_of_measurement_9
century_day_code_of_measurement_10
century_day_code_of_measurement_11
century_day_code_of_measurement_12
century_day_code_of_measurement_13
century_day_code_of_measurement_14
century_day_code_of_measurement_15
century_day_code_of_measurement_16
century_day_code_of_measurement_17
century_day_code_of_measurement_18
century_day_code_of_measurement_19
century_day_code_of_measurement_20
fieldworker_measurer_code_1
fieldworker_measurer_code_2
fieldworker_measurer_code_3
fieldworker_measurer_code_4
fieldworker_measurer_code_5
fieldworker_measurer_code_6
fieldworker_measurer_code_7
fieldworker_measurer_code_8
fieldworker_measurer_code_9
fieldworker_measurer_code_10
fieldworker_measurer_code_11
fieldworker_measurer_code_12
fieldworker_measurer_code_13
fieldworker_measurer_code_14
fieldworker_measurer_code_15
fieldworker_measurer_code_16
fieldworker_measurer_code_17
fieldworker_measurer_code_18
fieldworker_measurer_code_19
fieldworker_measurer_code_20
sex_1
sex_2
sex_3
sex_4
sex_5
sex_6
sex_7
sex_8
sex_9
sex_10
sex_11
sex_12
sex_13
sex_14
sex_15
sex_16
sex_17
sex_18
sex_19
sex_20
month_of_birth_1
month_of_birth_2
month_of_birth_3
month_of_birth_4
month_of_birth_5
month_of_birth_6
month_of_birth_7
month_of_birth_8
month_of_birth_9
month_of_birth_10
month_of_birth_11
month_of_birth_12
month_of_birth_13
month_of_birth_14
month_of_birth_15
month_of_birth_16
month_of_birth_17
month_of_birth_18
month_of_birth_19
month_of_birth_20
year_of birth_1
year_of birth_2
year_of birth_3
year_of birth_4
year_of birth_5
year_of birth_6
year_of birth_7
year_of birth_8
year_of birth_9
year_of birth_10
year_of birth_11
year_of birth_12
year_of birth_13
year_of birth_14
year_of birth_15
year_of birth_16
year_of birth_17
year_of birth_18
year_of birth_19
year_of birth_20
cmc_date_of_birth_1
cmc_date_of_birth_2
cmc_date_of_birth_3
cmc_date_of_birth_4
cmc_date_of_birth_5
cmc_date_of_birth_6
cmc_date_of_birth_7
cmc_date_of_birth_8
cmc_date_of_birth_9
cmc_date_of_birth_10
cmc_date_of_birth_11
cmc_date_of_birth_12
cmc_date_of_birth_13
cmc_date_of_birth_14
cmc_date_of_birth_15
cmc_date_of_birth_16
cmc_date_of_birth_17
cmc_date_of_birth_18
cmc_date_of_birth_19
cmc_date_of_birth_20
century_day_code_of_birth_1
century_day_code_of_birth_2
century_day_code_of_birth_3
century_day_code_of_birth_4
century_day_code_of_birth_5
century_day_code_of_birth_6
century_day_code_of_birth_7
century_day_code_of_birth_8
century_day_code_of_birth_9
century_day_code_of_birth_10
century_day_code_of_birth_11
century_day_code_of_birth_12
century_day_code_of_birth_13
century_day_code_of_birth_14
century_day_code_of_birth_15
century_day_code_of_birth_16
century_day_code_of_birth_17
century_day_code_of_birth_18
century_day_code_of_birth_19
century_day_code_of_birth_20
completeleness_of_hc32_info_1
completeleness_of_hc32_info_2
completeleness_of_hc32_info_3
completeleness_of_hc32_info_4
completeleness_of_hc32_info_5
completeleness_of_hc32_info_6
completeleness_of_hc32_info_7
completeleness_of_hc32_info_8
completeleness_of_hc32_info_9
completeleness_of_hc32_info_10
completeleness_of_hc32_info_11
completeleness_of_hc32_info_12
completeleness_of_hc32_info_13
completeleness_of_hc32_info_14
completeleness_of_hc32_info_15
completeleness_of_hc32_info_16
completeleness_of_hc32_info_17
completeleness_of_hc32_info_18
completeleness_of_hc32_info_19
completeleness_of_hc32_info_20
line_number_of_parent_caretaker_1
line_number_of_parent_caretaker_2
line_number_of_parent_caretaker_3
line_number_of_parent_caretaker_4
line_number_of_parent_caretaker_5
line_number_of_parent_caretaker_6
line_number_of_parent_caretaker_7
line_number_of_parent_caretaker_8
line_number_of_parent_caretaker_9
line_number_of_parent_caretaker_10
line_number_of_parent_caretaker_11
line_number_of_parent_caretaker_12
line_number_of_parent_caretaker_13
line_number_of_parent_caretaker_14
line_number_of_parent_caretaker_15
line_number_of_parent_caretaker_16
line_number_of_parent_caretaker_17
line_number_of_parent_caretaker_18
line_number_of_parent_caretaker_19
line_number_of_parent_caretaker_20
read_consent_statement_hemoglobin_1
read_consent_statement_hemoglobin_2
read_consent_statement_hemoglobin_3
read_consent_statement_hemoglobin_4
read_consent_statement_hemoglobin_5
read_consent_statement_hemoglobin_6
read_consent_statement_hemoglobin_7
read_consent_statement_hemoglobin_8
read_consent_statement_hemoglobin_9
read_consent_statement_hemoglobin_10
read_consent_statement_hemoglobin_11
read_consent_statement_hemoglobin_12
read_consent_statement_hemoglobin_13
read_consent_statement_hemoglobin_14
read_consent_statement_hemoglobin_15
read_consent_statement_hemoglobin_16
read_consent_statement_hemoglobin_17
read_consent_statement_hemoglobin_18
read_consent_statement_hemoglobin_19
read_consent_statement_hemoglobin_20
hemoglobin_level_g_dl_1
hemoglobin_level_g_dl_2
hemoglobin_level_g_dl_3
hemoglobin_level_g_dl_4
hemoglobin_level_g_dl_5
hemoglobin_level_g_dl_6
hemoglobin_level_g_dl_7
hemoglobin_level_g_dl_8
hemoglobin_level_g_dl_9
hemoglobin_level_g_dl_10
hemoglobin_level_g_dl_11
hemoglobin_level_g_dl_12
hemoglobin_level_g_dl_13
hemoglobin_level_g_dl_14
hemoglobin_level_g_dl_15
hemoglobin_level_g_dl_16
hemoglobin_level_g_dl_17
hemoglobin_level_g_dl_18
hemoglobin_level_g_dl_19
hemoglobin_level_g_dl_20
result_of_measurement_hemoglobin_1
result_of_measurement_hemoglobin_2
result_of_measurement_hemoglobin_3
result_of_measurement_hemoglobin_4
result_of_measurement_hemoglobin_5
result_of_measurement_hemoglobin_6
result_of_measurement_hemoglobin_7
result_of_measurement_hemoglobin_8
result_of_measurement_hemoglobin_9
result_of_measurement_hemoglobin_10
result_of_measurement_hemoglobin_11
result_of_measurement_hemoglobin_12
result_of_measurement_hemoglobin_13
result_of_measurement_hemoglobin_14
result_of_measurement_hemoglobin_15
result_of_measurement_hemoglobin_16
result_of_measurement_hemoglobin_17
result_of_measurement_hemoglobin_18
result_of_measurement_hemoglobin_19
result_of_measurement_hemoglobin_20
hemoglobin_level_adjusted_for_altitude_g_dl_1
hemoglobin_level_adjusted_for_altitude_g_dl_2
hemoglobin_level_adjusted_for_altitude_g_dl_3
hemoglobin_level_adjusted_for_altitude_g_dl_4
hemoglobin_level_adjusted_for_altitude_g_dl_5
hemoglobin_level_adjusted_for_altitude_g_dl_6
hemoglobin_level_adjusted_for_altitude_g_dl_7
hemoglobin_level_adjusted_for_altitude_g_dl_8
hemoglobin_level_adjusted_for_altitude_g_dl_9
hemoglobin_level_adjusted_for_altitude_g_dl_10
hemoglobin_level_adjusted_for_altitude_g_dl_11
hemoglobin_level_adjusted_for_altitude_g_dl_12
hemoglobin_level_adjusted_for_altitude_g_dl_13
hemoglobin_level_adjusted_for_altitude_g_dl_14
hemoglobin_level_adjusted_for_altitude_g_dl_15
hemoglobin_level_adjusted_for_altitude_g_dl_16
hemoglobin_level_adjusted_for_altitude_g_dl_17
hemoglobin_level_adjusted_for_altitude_g_dl_18
hemoglobin_level_adjusted_for_altitude_g_dl_19
hemoglobin_level_adjusted_for_altitude_g_dl_20
anemia_level_1
anemia_level_2
anemia_level_3
anemia_level_4
anemia_level_5
anemia_level_6
anemia_level_7
anemia_level_8
anemia_level_9
anemia_level_10
anemia_level_11
anemia_level_12
anemia_level_13
anemia_level_14
anemia_level_15
anemia_level_16
anemia_level_17
anemia_level_18
anemia_level_19
anemia_level_20
na_agrees_to_referral_anemia_1
na_agrees_to_referral_anemia_2
na_agrees_to_referral_anemia_3
na_agrees_to_referral_anemia_4
na_agrees_to_referral_anemia_5
na_agrees_to_referral_anemia_6
na_agrees_to_referral_anemia_7
na_agrees_to_referral_anemia_8
na_agrees_to_referral_anemia_9
na_agrees_to_referral_anemia_10
na_agrees_to_referral_anemia_11
na_agrees_to_referral_anemia_12
na_agrees_to_referral_anemia_13
na_agrees_to_referral_anemia_14
na_agrees_to_referral_anemia_15
na_agrees_to_referral_anemia_16
na_agrees_to_referral_anemia_17
na_agrees_to_referral_anemia_18
na_agrees_to_referral_anemia_19
na_agrees_to_referral_anemia_20
mothers_line_number_1
mothers_line_number_2
mothers_line_number_3
mothers_line_number_4
mothers_line_number_5
mothers_line_number_6
mothers_line_number_7
mothers_line_number_8
mothers_line_number_9
mothers_line_number_10
mothers_line_number_11
mothers_line_number_12
mothers_line_number_13
mothers_line_number_14
mothers_line_number_15
mothers_line_number_16
mothers_line_number_17
mothers_line_number_18
mothers_line_number_19
mothers_line_number_20
mothers_heighest_educational_level_1
mothers_heighest_educational_level_2
mothers_heighest_educational_level_3
mothers_heighest_educational_level_4
mothers_heighest_educational_level_5
mothers_heighest_educational_level_6
mothers_heighest_educational_level_7
mothers_heighest_educational_level_8
mothers_heighest_educational_level_9
mothers_heighest_educational_level_10
mothers_heighest_educational_level_11
mothers_heighest_educational_level_12
mothers_heighest_educational_level_13
mothers_heighest_educational_level_14
mothers_heighest_educational_level_15
mothers_heighest_educational_level_16
mothers_heighest_educational_level_17
mothers_heighest_educational_level_18
mothers_heighest_educational_level_19

In [15]:
df_2['childs_age_in_months_40'].isna().sum()

7952

In [16]:
import pandas as pd

# Assuming df is your DataFrame
column_stats = []

for column in df_2.columns:
    nan_sum = df_2[column].isna().sum()
    nan_percentage = (nan_sum / len(df_2)) * 100
    column_stats.append((column, nan_sum, nan_percentage))

# Create a DataFrame from the list of tuples
column_stats_df = pd.DataFrame(column_stats, columns=['Column Name', 'NaN Sum', 'NaN Percentage'])

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Display the DataFrame
column_stats_df

,Column Name,NaN Sum,NaN Percentage
0,household_id,0,0.000000
1,country_code,0,0.000000
2,cluster_number,0,0.000000
3,household_number,0,0.000000
4,respondent's_ line_number,0,0.000000
5,area_unit,0,0.000000
6,sample_weight,0,0.000000
7,month_of_the_household_interview,0,0.000000
8,year_of_the_household_interview,0,0.000000
9,month_date_of_household_interview,0,0.000000
10,day_date_of_household_interview,0,0.000000
11,number_of_household_members,0,0.000000
12,number_of_eligible_women,0,0.000000
13,number_of_de_jure_household_members,7952,100.000000
14,number_of_de_facto_household_members,0,0.000000
15,number_of_children_resident,0,0.000000
16,result_of_household_interview,0,0.000000
17,day_of_the_household_interview,0,0.000000
18,number_of_visits,0,0.000000
19,interviewer_id,0,0.000000
20,ever_married,0,0.000000
21,primary_sampling_unit,7952,100.000000
22,strata_for_sampling_errors,0,0.000000
23,sample_design,0,0.000000
24,region_of_residence,0,0.000000
25,type_of_place,0,0.000000
26,male_survey,0,0.000000
27,sample_weight_male,0,0.000000
28,field_supervisor,7952,100.000000
29,children_under_five,0,0.000000
30,cluster_altitude,0,0.000000
31,women_height_weight_measured,0,0.000000
32,household_hemoglobin_measurements,7952,100.000000
33,questionnaire_language,7952,100.000000
34,interview_language,0,0.000000
35,respodent_native_language,0,0.000000
36,translator_used,0,0.000000
37,interview_start_time,0,0.000000
38,interview_end_time,0,0.000000
39,interview_length,0,0.000000
40,main_source_drink_water,0,0.000000
41,time_to_water_source,0,0.000000
42,type_toilet_facility,0,0.000000
43,own_electricity,0,0.000000
44,own_radio,0,0.000000
45,own_television,2888,36.317907
46,own_refrigerator,2888,36.317907
47,member_own_bicycle,2888,36.317907
48,member_own_motorcycle,2888,36.317907
49,member_own_car,2888,36.317907
50,main_floor_material,2888,36.317907
51,main_wall_material,0,0.000000
52,main_roof_material,7803,98.126258
53,no_sleep_rooms,7952,100.000000
54,household_relationship_structure,0,0.000000
55,line_number_of_head_of_household,0,0.000000
56,sex_head_household,0,0.000000
57,age_household_head,0,0.000000
58,household_has_telephone,0,0.000000
59,shares_toilet,0,0.000000
60,cooking_fuel_type,0,0.000000
61,has_mosquito_net,0,0.000000
62,toilet_location,0,0.000000
63,has_mobile,0,0.000000
64,has_watch,0,0.000000
65,owns_animaldrawn_cart,0,0.000000
66,owns_boat_wmotor,0,0.000000
67,owns_computer,0,0.000000
68,owns_agric_land,0,0.000000
69,owns_livestock,0,0.000000
70,owns_cattle,0,0.000000
71,owns_cows_bulls,0,0.000000
72,owns_goats,600,7.545272
73,owns_sheep,0,0.000000
74,owns_poultry,0,0.000000
75,owns_horses,4847,60.953219
76,owns_donkeys,2225,27.980382
77,owns_mules,5192,65.291751
78,owns_pigs,600,7.545272
79,member_has_bank_account,7952,100.000000
80,wealth_index_comb,7952,100.000000
81,wealth_index_factor,7952,100.000000
82,wealth_index_urban_rural,7952,100.000000
83,wealth_index_factor_urban_rural,0,0.000000
84,number_of_mosquito_nets,0,0.000000
85,number_of_mosquito_nets_specific,0,0.000000
86,children_under_mosquito_net,0,0.000000
87,county,0,0.000000
88,malaria_endemicity_zone,0,0.000000
89,type_of_cooking_device,3604,45.321932
90,has_solar_panel,0,0.000000
91,has_table,0,0.000000
92,has_chair,0,0.000000
93,has_sofa,7952,100.000000
94,has_bed,0,0.000000
95,has_cupboard,0,0.000000
96,has_clock,0,0.000000
97,has_microwave,0,0.000000
98,has_dvd_player,0,0.000000
99,has_cd_player,0,0.000000
100,use_phone_for_finc_transactions,0,0.000000
101,used_mosquito_relellent_spray,7952,100.000000
102,line_number_1,0,0.000000
103,line_number_2,0,0.000000
104,rshp_to_head_1,0,0.000000
105,rshp_to_head_2,0,0.000000
106,usual_resident_1,0,0.000000
107,usual_resident_2,0,0.000000
108,stayed_last_night_1,0,0.000000
109,stayed_last_night_2,0,0.000000
110,sex_of_member_1,0,0.000000
111,sex_of_member_2,0,0.000000
112,age_of_member_1,0,0.000000
113,age_of_member_2,1917,24.107143
114,female_int_eligibility_1,0,0.000000
115,female_int_eligibility_2,0,0.000000
116,child_hwh_eligibility_1,0,0.000000
117,child_hwh_eligibility_2,0,0.000000
118,index_to_household_schedule_hmhidx_1,0,0.000000
119,index_to_household_schedule_hmhidx_2,0,0.000000
120,mosq_net_type_1,0,0.000000
121,mosq_net_type_2,0,0.000000
122,net_design_no_1,0,0.000000
123,net_design_no_2,0,0.000000
124,corr_age_1,0,0.000000
125,corr_age_2,0,0.000000
126,flag_age_1,0,0.000000
127,flag_age_2,1524,19.164990
128,slept_treated_net_1,2605,32.759054
129,slept_treated_net_2,3802,47.811871
130,slept_llin_net_1,5021,63.141348
131,slept_llin_net_2,6106,76.785714
132,number_of_eligible_men,6819,85.752012
133,keyer_identification,7295,91.737928
134,na_place_of_residence,7572,95.221328
135,na_field_editor,7757,97.547787
136,na_office_editor,7842,98.616700
137,number_of_visits_for_biomarker,7892,99.245473
138,day_of_biomarker_visit,7916,99.547284
139,month_of_biomarker_visit,7930,99.723340
140,year_of_biomarker_visit,7936,99.798793
141,date_of_biomarker,7941,99.861670
142,date_of_biomarker_century_day_code,7944,99.899396
143,source_of_water,7946,99.924547
144,na_water_not_available_for_at_least_a_day_last...,7947,99.937123
145,children_under_slept_under_mosquito_bed_net_la...,7949,99.962274
146,location_of_source_for_water,7949,99.962274
147,number_of_households_sharing_toilet,7951,99.987425
148,na_food_cooked_on_stove_or_open_fire,7951,99.987425
149,stove_has_chimney,7951,99.987425
150,food_prep_place,0,0.000000
151,household_has_separate_room_used_as_kitchen,1524,19.164990
152,hectares_of_agricultural_land,2605,32.759054
153,owns_horses_donkeys,3802,47.811871
154,na_owns_cs,5021,63.141348
155,type_of_cooking_fuel_energy,6106,76.785714
156,line_number_3,6819,85.752012
157,line_number_4,7295,91.737928
158,line_number_5,7572,95.221328
159,line_number_6,7757,97.547787
160,line_number_7,7842,98.616700
161,line_number_8,7892,99.245473
162,line_number_9,7916,99.547284
163,line_number_10,7930,99.723340
164,line_number_11,7936,99.798793
165,line_number_12,7941,99.861670
166,line_number_13,7944,99.899396
167,line_number_14,7946,99.924547
168,line_number_15,7947,99.937123
169,line_number_16,7949,99.962274
170,line_number_17,7949,99.962274
171,line_number_18,7951,99.987425
172,line_number_19,7951,99.987425
173,line_number_20,7951,99.987425
174,line_number_21,0,0.000000
175,line_number_22,1524,19.164990
176,line_number_23,2605,32.759054
177,line_number_24,3802,47.811871
178,relationship_to_head_3,5021,63.141348
179,relationship_to_head_4,6106,76.785714
180,relationship_to_head_5,6819,85.752012
181,relationship_to_head_6,7295,91.737928
182,relationship_to_head_7,7572,95.221328
183,relationship_to_head_8,7757,97.547787
184,relationship_to_head_9,7842,98.616700
185,relationship_to_head_10,7892,99.245473
186,relationship_to_head_11,7916,99.547284
187,relationship_to_head_12,7930,99.723340
188,relationship_to_head_13,7936,99.798793
189,relationship_to_head_14,7941,99.861670
190,relationship_to_head_15,7944,99.899396
191,relationship_to_head_16,7946,99.924547
192,relationship_to_head_17,7947,99.937123
193,relationship_to_head_18,7949,99.962274
194,relationship_to_head_19,7949,99.962274
195,relationship_to_head_20,7951,99.987425
196,relationship_to_head_21,7951,99.987425
197,relationship_to_head_22,7951,99.987425
198,relationship_to_head_23,0,0.000000
199,relationship_to_head_24,1524,19.164990
200,usual_resident_3,2605,32.759054
201,usual_resident_4,3802,47.811871
202,usual_resident_5,5021,63.141348
203,usual_resident_6,6106,76.785714
204,usual_resident_7,6819,85.752012
205,usual_resident_8,7295,91.737928
206,usual_resident_9,7572,95.221328
207,usual_resident_10,7757,97.547787
208,usual_resident_11,7842,98.616700
209,usual_resident_12,7892,99.245473
210,usual_resident_13,7916,99.547284
211,usual_resident_14,7930,99.723340
212,usual_resident_15,7936,99.798793
213,usual_resident_16,7941,99.861670
214,usual_resident_17,7944,99.899396
215,usual_resident_18,7946,99.924547
216,usual_resident_19,7947,99.937123
217,usual_resident_20,7949,99.962274
218,usual_resident_21,7949,99.962274
219,usual_resident_22,7951,99.987425
220,usual_resident_23,7951,99.987425
221,usual_resident_24,7951,99.987425
222,stayed_last_night_3,0,0.000000
223,stayed_last_night_4,1524,19.164990
224,stayed_last_night_5,2605,32.759054
225,stayed_last_night_6,3802,47.811871
226,stayed_last_night_7,5021,63.141348
227,stayed_last_night_8,6106,76.785714
228,stayed_last_night_9,6819,85.752012
229,stayed_last_night_10,7295,91.737928
230,stayed_last_night_11,7572,95.221328
231,stayed_last_night_12,7757,97.547787
232,stayed_last_night_13,7842,98.616700
233,stayed_last_night_14,7892,99.245473
234,stayed_last_night_15,7916,99.547284
235,stayed_last_night_16,7930,99.723340
236,stayed_last_night_17,7936,99.798793
237,stayed_last_night_18,7941,99.861670
238,stayed_last_night_19,7944,99.899396
239,stayed_last_night_20,7946,99.924547
240,stayed_last_night_21,7947,99.937123
241,stayed_last_night_22,7949,99.962274
242,stayed_last_night_23,7949,99.962274
243,stayed_last_night_24,7951,99.987425
244,sex_of_household_member_3,7951,99.987425
245,sex_of_household_member_4,7951,99.987425
246,sex_of_household_member_5,0,0.000000
247,sex_of_household_member_6,1524,19.164990
248,sex_of_household_member_7,2605,32.759054
249,sex_of_household_member_8,3802,47.811871
250,sex_of_household_member_9,5021,63.141348
251,sex_of_household_member_10,6106,76.785714
252,sex_of_household_member_11,6819,85.752012
253,sex_of_household_member_12,7295,91.737928
254,sex_of_household_member_13,7572,95.221328
255,sex_of_household_member_14,7757,97.547787
256,sex_of_household_member_15,7842,98.616700
257,sex_of_household_member_16,7892,99.245473
258,sex_of_household_member_17,7916,99.547284
259,sex_of_household_member_18,7930,99.723340
260,sex_of_household_member_19,7936,99.798793
261,sex_of_household_member_20,7941,99.861670
262,sex_of_household_member_21,7944,99.899396
263,sex_of_household_member_22,7946,99.924547
264,sex_of_household_member_23,7947,99.937123
265,sex_of_household_member_24,7949,99.962274
266,age_of_household_members_3,7949,99.962274
267,age_of_household_members_4,7951,99.987425
268,age_of_household_members_5,7951,99.987425
269,age_of_household_members_6,7951,99.987425
270,age_of_household_members_7,0,0.000000
271,age_of_household_members_8,1524,19.164990
272,age_of_household_members_9,2605,32.759054
273,age_of_household_members_10,3802,47.811871
274,age_of_household_members_11,5021,63.141348
275,age_of_household_members_12,6106,76.785714
276,age_of_household_members_13,6819,85.752012
277,age_of_household_members_14,7295,91.737928
278,age_of_household_members_15,7572,95.221328
279,age_of_household_members_16,7757,97.547787
280,age_of_household_members_17,7842,98.616700
281,age_of_household_members_18,7892,99.245473
282,age_of_household_members_19,7916,99.547284
283,age_of_household_members_20,7930,99.723340
284,age_of_household_members_21,7936,99.798793
285,age_of_household_members_22,7941,99.861670
286,age_of_household_members_23,7944,99.899396
287,age_of_household_members_24,7946,99.924547
288,eligibility_for_female_interview_3,7947,99.937123
289,eligibility_for_female_interview_4,7949,99.962274
290,eligibility_for_female_interview_5,7949,99.962274
291,eligibility_for_female_interview_6,7951,99.987425
292,eligibility_for_female_interview_7,7951,99.987425
293,eligibility_for_female_interview_8,7951,99.987425
294,eligibility_for_female_interview_9,2889,36.330483
295,eligibility_for_female_interview_10,4346,54.652918
296,eligibility_for_female_interview_11,5777,72.648390
297,eligibility_for_female_interview_12,6812,85.663984
298,eligibility_for_female_interview_13,7419,93.297284
299,eligibility_for_female_interview_14,7718,97.057344
300,eligibility_for_female_interview_15,7859,98.830483
301,eligibility_for_female_interview_16,7912,99.496982
302,eligibility_for_female_interview_17,7932,99.748491
303,eligibility_for_female_interview_18,7945,99.911972
304,eligibility_for_female_interview_19,7949,99.962274
305,eligibility_for_female_interview_20,7950,99.974849
306,eligibility_for_female_interview_21,7950,99.974849
307,eligibility_for_female_interview_22,7951,99.987425
308,eligibility_for_female_interview_23,7951,99.987425
309,eligibility_for_female_interview_24,7952,100.000000
310,children_hemoglobin_elig_3,7952,100.000000
311,children_hemoglobin_elig_4,7952,100.000000
312,children_hemoglobin_elig_5,7952,100.000000
313,children_hemoglobin_elig_6,7952,100.000000
314,children_hemoglobin_elig_7,2889,36.330483
315,children_hemoglobin_elig_8,4346,54.652918
316,children_hemoglobin_elig_9,5777,72.648390
317,children_hemoglobin_elig_10,6812,85.663984
318,children_hemoglobin_elig_11,7419,93.297284
319,children_hemoglobin_elig_12,7718,97.057344
320,children_hemoglobin_elig_13,7859,98.830483
321,children_hemoglobin_elig_14,7912,99.496982
322,children_hemoglobin_elig_15,7932,99.748491
323,children_hemoglobin_elig_16,7945,99.911972
324,children_hemoglobin_elig_17,7949,99.962274
325,children_hemoglobin_elig_18,7950,99.974849
326,children_hemoglobin_elig_19,7950,99.974849
327,children_hemoglobin_elig_20,7951,99.987425
328,children_hemoglobin_elig_21,7951,99.987425
329,children_hemoglobin_elig_22,7952,100.000000
330,children_hemoglobin_elig_23,7952,100.000000
331,children_hemoglobin_elig_24,7952,100.000000
332,index_to_household_schedule_hc0_1,7952,100.000000
333,index_to_household_schedule_hc0_2,7952,100.000000
334,index_to_household_schedule_3,2889,36.330483
335,index_to_household_schedule_4,4346,54.652918
336,index_to_household_schedule_5,5777,72.648390
337,index_to_household_schedule_6,6812,85.663984
338,index_to_household_schedule_7,7419,93.297284
339,index_to_household_schedule_8,7718,97.057344
340,index_to_household_schedule_9,7859,98.830483
341,index_to_household_schedule_10,7912,99.496982
342,index_to_household_schedule_11,7932,99.748491
343,index_to_household_schedule_12,7945,99.911972
344,index_to_household_schedule_13,7949,99.962274
345,index_to_household_schedule_14,7950,99.974849
346,index_to_household_schedule_15,7950,99.974849
347,index_to_household_schedule_16,7951,99.987425
348,index_to_household_schedule_17,7951,99.987425
349,index_to_household_schedule_18,7952,100.000000
350,index_to_household_schedule_19,7952,100.000000
351,index_to_household_schedule_20,7952,100.000000
352,childs_age_in_months_1,7952,100.000000
353,childs_age_in_months_2,7952,100.000000
354,childs_age_in_months_3,2889,36.330483
355,childs_age_in_months_4,4346,54.652918
356,childs_age_in_months_5,5777,72.648390
357,childs_age_in_months_6,6812,85.663984
358,childs_age_in_months_7,7419,93.297284
359,childs_age_in_months_8,7718,97.057344
360,childs_age_in_months_9,7859,98.830483
361,childs_age_in_months_10,7912,99.496982
362,childs_age_in_months_11,7932,99.748491
363,childs_age_in_months_12,7945,99.911972
364,childs_age_in_months_13,7949,99.962274
365,childs_age_in_months_14,7950,99.974849
366,childs_age_in_months_15,7950,99.974849
367,childs_age_in_months_16,7951,99.987425
368,childs_age_in_months_17,7951,99.987425
369,childs_age_in_months_18,7952,100.000000
370,childs_age_in_months_19,7952,100.000000
371,childs_age_in_months_20,7952,100.000000
372,childs_age_in_months_21,7952,100.000000
373,childs_age_in_months_22,7952,100.000000
374,childs_age_in_months_23,2889,36.330483
375,childs_age_in_months_24,4346,54.652918
376,childs_age_in_months_25,5777,72.648390
377,childs_age_in_months_26,6812,85.663984
378,childs_age_in_months_27,7419,93.297284
379,childs_age_in_months_28,7718,97.057344
380,childs_age_in_months_29,7859,98.830483
381,childs_age_in_months_30,7912,99.496982
382,childs_age_in_months_31,7932,99.748491
383,childs_age_in_months_32,7945,99.911972
384,childs_age_in_months_33,7949,99.962274
385,childs_age_in_months_34,7950,99.974849
386,childs_age_in_months_35,7950,99.974849
387,childs_age_in_months_36,7951,99.987425
388,childs_age_in_months_37,7951,99.987425
389,childs_age_in_months_38,7952,100.000000
390,childs_age_in_months_39,7952,100.000000
391,childs_age_in_months_40,7952,100.000000
392,Day_of_birth_1,7952,100.000000
393,Day_of_birth_2,7952,100.000000
394,Day_of_birth_3,2889,36.330483
395,Day_of_birth_4,4346,54.652918
396,Day_of_birth_5,5777,72.648390
397,Day_of_birth_6,6812,85.663984
398,Day_of_birth_7,7419,93.297284
399,Day_of_birth_8,7718,97.057344
400,Day_of_birth_9,7859,98.830483
401,Day_of_birth_10,7912,99.496982
402,Day_of_birth_11,7932,99.748491
403,Day_of_birth_12,7945,99.911972
404,Day_of_birth_13,7949,99.962274
405,Day_of_birth_14,7950,99.974849
406,Day_of_birth_15,7950,99.974849
407,Day_of_birth_16,7951,99.987425
408,Day_of_birth_17,7951,99.987425
409,Day_of_birth_18,7952,100.000000
410,Day_of_birth_19,7952,100.000000
411,Day_of_birth_20,7952,100.000000
412,Date_measured_day_1,7952,100.000000
413,Date_measured_day_2,7952,100.000000
414,Date_measured_day_3,2889,36.330483
415,Date_measured_day_4,4346,54.652918
416,Date_measured_day_5,5777,72.648390
417,Date_measured_day_6,6812,85.663984
418,Date_measured_day_7,7419,93.297284
419,Date_measured_day_8,7718,97.057344
420,Date_measured_day_9,7859,98.830483
421,Date_measured_day_10,7912,99.496982
422,Date_measured_day_11,7932,99.748491
423,Date_measured_day_12,7945,99.911972
424,Date_measured_day_13,7949,99.962274
425,Date_measured_day_14,7950,99.974849
426,Date_measured_day_15,7950,99.974849
427,Date_measured_day_16,7951,99.987425
428,Date_measured_day_17,7951,99.987425
429,Date_measured_day_18,7952,100.000000
430,Date_measured_day_19,7952,100.000000
431,Date_measured_day_20,7952,100.000000
432,Date_measured_month_1,7952,100.000000
433,Date_measured_month_2,7952,100.000000
434,Date_measured_month_3,2889,36.330483
435,Date_measured_month_4,4346,54.652918
436,Date_measured_month_5,5777,72.648390
437,Date_measured_month_6,6812,85.663984
438,Date_measured_month_7,7419,93.297284
439,Date_measured_month_8,7718,97.057344
440,Date_measured_month_9,7859,98.830483
441,Date_measured_month_10,7912,99.496982
442,Date_measured_month_11,7932,99.748491
443,Date_measured_month_12,7945,99.911972
444,Date_measured_month_13,7949,99.962274
445,Date_measured_month_14,7950,99.974849
446,Date_measured_month_15,7950,99.974849
447,Date_measured_month_16,7951,99.987425
448,Date_measured_month_17,7951,99.987425
449,Date_measured_month_18,7952,100.000000
450,Date_measured_month_19,7952,100.000000
451,Date_measured_month_20,7952,100.000000
452,Date_measured_year_1,7952,100.000000
453,Date_measured_year_2,7952,100.000000
454,Date_measured_year_3,3237,40.706740
455,Date_measured_year_4,4605,57.909960
456,Date_measured_year_5,5952,74.849095
457,Date_measured_year_6,6910,86.896378
458,Date_measured_year_7,7467,93.900905
459,Date_measured_year_8,7746,97.409457
460,Date_measured_year_9,7872,98.993964
461,Date_measured_year_10,7915,99.534708
462,Date_measured_year_11,7934,99.773642
463,Date_measured_year_12,7946,99.924547
464,Date_measured_year_13,7949,99.962274
465,Date_measured_year_14,7950,99.974849
466,Date_measured_year_15,7951,99.987425
467,Date_measured_year_16,7951,99.987425
468,Date_measured_year_17,7951,99.987425
469,Date_measured_year_18,7952,100.000000
470,Date_measured_year_19,7952,100.000000
471,Date_measured_year_20,7952,100.000000
472,century_day_code_of_measurement_1,7952,100.000000
473,century_day_code_of_measurement_2,7952,100.000000
474,century_day_code_of_measurement_3,2889,36.330483
475,century_day_code_of_measurement_4,4346,54.652918
476,century_day_code_of_measurement_5,5777,72.648390
477,century_day_code_of_measurement_6,6812,85.663984
478,century_day_code_of_measurement_7,7419,93.297284
479,century_day_code_of_measurement_8,7718,97.057344
480,century_day_code_of_measurement_9,7859,98.830483
481,century_day_code_of_measurement_10,7912,99.496982
482,century_day_code_of_measurement_11,7932,99.748491
483,century_day_code_of_measurement_12,7945,99.911972
484,century_day_code_of_measurement_13,7949,99.962274
485,century_day_code_of_measurement_14,7950,99.974849
486,century_day_code_of_measurement_15,7950,99.974849
487,century_day_code_of_measurement_16,7951,99.987425

In [17]:
#Dropping unnecessary columns

# List of column names to drop
columns_to_drop = ["respondent's_ line_number ", "sample_weight", "month_of_the_household_interview", "month_date_of_household_interview", 
                  "day_date_of_household_interview", "result_of_household_interview", "day_of_the_household_interview", 
                  "number_of_visits", "interviewer_id", "ever_married", "primary_sampling_unit", "strata_for_sampling_errors", "sample_design",
                  "male_survey", "sample_weight_male", "field_supervisor", "children_under_five", "cluster_altitude", "women_height_weight_measured", 
                  "questionnaire_language", "interview_language", "respodent_native_language", "translator_used", "interview_start_time", 
                  "interview_end_time", "interview_length", "time_to_water_source", "household_relationship_structure", "line_number_of_head_of_household", 
                  "type_toilet_facility", "toilet_location", "member_has_bank_account", "wealth_index_factor_urban_rural","wealth_index_factor",
                  "line_number_1", "line_number_2", "line_number_21", "line_number_23", "line_number_24", "rshp_to_head_1", "rshp_to_head_2", 
                  "relationship_to_head_23", "relationship_to_head_24", "usual_resident_1", "usual_resident_2", "stayed_last_night_1", "stayed_last_night_2", 
                  "stayed_last_night_3", "stayed_last_night_4", "stayed_last_night_5", "stayed_last_night_6", "stayed_last_night_7", "stayed_last_night_8", 
                  "sex_of_household_member_5", "sex_of_household_member_6", "sex_of_household_member_7", "sex_of_household_member_8", "sex_of_household_member_9", 
                  "female_int_eligibility_1", "female_int_eligibility_2", "child_hwh_eligibility_1", 
                  "child_hwh_eligibility_2", "index_to_household_schedule_hmhidx_1", "index_to_household_schedule_hmhidx_2", "net_design_no_1", "net_design_no_2", 
                  "flag_age_1", "flag_age_2", "food_prep_place", "household_has_separate_room_used_as_kitchen", "owns_horses_donkeys", "usual_resident_1", "usual_resident_2", 
                  "usual_resident_3", "usual_resident_4", "index_to_household_schedule_7", "eligibility_for_female_interview_9", "eligibility_for_female_interview_10", 
                  "eligibility_for_female_interview_11", "eligibility_for_female_interview_12", "Date_measured_day_7", "Date_measured_month_7", "Date_measured_year_7", 
                  "century_day_code_of_measurement_7", "fieldworker_measurer_code_7", "sex_7", "month_of_birth_7", "year_of birth_7", "cmc_date_of_birth_7", "century_day_code_of_birth_7", 
                  "completeleness_of_hc32_info_7", "line_number_of_parent_caretaker_7", "read_consent_statement_hemoglobin_7", "hemoglobin_level_g_dl_7", 
                  "hemoglobin_level_adjusted_for_altitude_g_dl_7", "mothers_heighest_educational_level_final_report_7", "childs_age_in_months_country_specific_7", "childs_age_in_months_country_specific_8",
                   "childs_age_in_months_country_specific_9", "fieldworker_number_for_malaria_medicine_7", "fieldworker_number_for_malaria_medicine_8", "fieldworker_number_for_malaria_medicine_9",
                   "day_of_data_collection_7", "day_of_data_collection_8", "day_of_data_collection_9", "month_of_data_collection_7", "month_of_data_collection_8", "month_of_data_collection_9", 
                   "year_of_data_collection_7", "year_of_data_collection_8", "mosquito_bed_net_designation_number_1", "mosquito_bed_net_designation_number_2", "na_net_treated_with_insecticide_when_bought_1", 
                   "na_net_treated_with_insecticide_when_bought_2", "na_net_treated_with_insecticide_when_bought_3", "na_net_treated_since_received_1", "na_net_treated_since_received_2", "na_net_treated_since_received_3",
                   "line_number_of_person_slept_in_net_d_1", "line_number_of_person_slept_in_net_d_2"]  

# Drop the specified columns
df_2_cleaned_dropped = df_2.drop(columns=columns_to_drop)

# Display the updated DataFrame
df_2_cleaned_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7952 entries, 0 to 7951
Columns: 1202 entries, household_id to line_number_of_person_slept_in_net_e_3
dtypes: float64(1199), object(3)
memory usage: 72.9+ MB

In [50]:
# # Calculating the threshold for 80% empty columns
threshold = 0.6 * len(df_2_cleaned_dropped)

# # Dropping columns with 80% or more empty values
combined_df_cleaned = df_2_cleaned_dropped.dropna(axis=1, thresh=threshold)

# # Displaying the cleaned DataFrame
combined_df_cleaned.head()

,household_id,country_code,cluster_number,household_number,area_unit,year_of_the_household_interview,number_of_household_members,number_of_eligible_women,number_of_de_facto_household_members,number_of_children_resident,region_of_residence,type_of_place,main_source_drink_water,own_electricity,own_radio,own_television,own_refrigerator,member_own_bicycle,member_own_motorcycle,member_own_car,main_floor_material,main_wall_material,sex_head_household,age_household_head,household_has_telephone,shares_toilet,cooking_fuel_type,has_mosquito_net,has_mobile,has_watch,owns_animaldrawn_cart,owns_boat_wmotor,owns_computer,owns_agric_land,owns_livestock,owns_cattle,owns_cows_bulls,owns_goats,owns_sheep,owns_poultry,owns_donkeys,owns_pigs,number_of_mosquito_nets,number_of_mosquito_nets_specific,children_under_mosquito_net,county,malaria_endemicity_zone,has_solar_panel,has_table,has_chair,has_bed,has_cupboard,has_clock,has_microwave,has_dvd_player,has_cd_player,use_phone_for_finc_transactions,sex_of_member_1,sex_of_member_2,age_of_member_1,age_of_member_2,mosq_net_type_1,mosq_net_type_2,corr_age_1,corr_age_2,slept_treated_net_1,hectares_of_agricultural_land,line_number_22,age_of_household_members_7,age_of_household_members_8,age_of_household_members_9,children_hemoglobin_elig_7,index_to_household_schedule_3,childs_age_in_months_3,childs_age_in_months_23,Day_of_birth_3,Date_measured_day_3,Date_measured_month_3,century_day_code_of_measurement_3,fieldworker_measurer_code_3,sex_3,month_of_birth_3,year_of birth_3,cmc_date_of_birth_3,century_day_code_of_birth_3,completeleness_of_hc32_info_3,read_consent_statement_hemoglobin_3,mothers_line_number_3,mothers_heighest_educational_level_3,preceding_birth_interval_months_3,birth_order_number_3,mothers_heighest_educational_level_final_report_3,childs_age_in_months_country_specific_3,childs_age_in_months_country_specific_10,childs_age_in_months_country_specific_17,childs_age_in_days_country_specific_4,illness_or_symptoms_extreme_weakness_5,illness_or_symptoms_loss_of_consciousness_7,illness_or_symptoms_rapid_breathing_8,illness_or_symptoms_rapid_breathing_9,illness_or_symptoms_rapid_breathing_10,illness_or_symptoms_seizures_12,illness_or_symptoms_seizures_13,illness_or_symptoms_seizures_14,taken_act_for_malaria_treatment_in_past_two_weeks_4,taken_act_for_malaria_treatment_in_past_two_weeks_5,taken_act_for_malaria_treatment_in_past_two_weeks_6,fieldworker_number_for_malaria_medicine_12,fieldworker_number_for_malaria_medicine_13,fieldworker_number_for_malaria_medicine_14,day_of_data_collection_16,day_of_data_collection_17,day_of_data_collection_18,someone_slept_under_net_last_night_6,someone_slept_under_net_last_night_7,line_number_of_person_slept_in_net_1,line_number_of_person_slept_in_net_c_2,line_number_of_person_slept_in_net_c_3,line_number_of_person_slept_in_net_c_4,line_number_of_person_slept_in_net_c_5,line_number_of_person_slept_in_net_c_6,line_number_of_person_slept_in_net_d_3,line_number_of_person_slept_in_net_d_4,line_number_of_person_slept_in_net_e_1,line_number_of_person_slept_in_net_e_2
0,2 1,KE7,2.0,1.0,2.0,2020.0,8.0,1.0,8.0,8.0,13.0,13.0,14.0,1015.0,35.0,3.0,1.0,12.0,2020.0,1452.0,44166.0,14.0,0.0,0.0,0.0,0.0,0.0,1.0,11.0,22.0,31.0,4.0,4.0,1.0,1.0,42.0,0.0,NaN,7.0,1.0,3.0,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,302.0,3.0,9.0,5.0,0.0,0.0,1.0,0.0,3.0,3.0,1.0,0.0,1.0,0.0,60.0,2501.0,14.0,1.0,12.0,2020.0,44166.0,2.0,5.0,2009.0,1313.0,39947.0,0.0,8.0,1.0,995.0,138.0,4219.0,1.0,12.0,2020.0,1.0,1.0,24.0,15.0,1.0,1.0,1.0,2.0,3.0,3.0,3.0,2.0,42.0,26.0,11.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,125.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,X6J1O
1,2 6,KE7,2.0,6.0,2.0,2020.0,7.0,2.0,7.0,6.0,13.0,13.0,14.0,1126.0,12.0,1.0,30.0,11.0,2020.0,1451.0,44165.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,21.0,31.0,1.0,4.0,1.0,1.0,37.0,0.0,NaN,7.0,0.0,3.0,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,302.0,3.0,9.0,5.0,0.0,0.0,1.0,0.0,3.0,3.0,1.0,0.0,1.0,0.0,60.0,2501.0,18.0,30.0,11.0,2020.0,44165.0,2.0,10.0,2010.0,1330.0,40469.0,0.0,2.0,1.0,995.0,121.0,3696.0,30.0,11.0,2020.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,3.0,0.0,0.0,0.0,37.0,29.0,10.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,123.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,W1J4L
2,2 10,KE7,2.0,10.0,2.0,2020.0,6.0,2.0,6.0,6.0,13.0,13.0,14.0,1032.0,8.0,1.0,1.0,12.0,2020.0,1452.0,44166.0,14.0,0.0,0.0,0.0,0.0,0.0,1.0,11.0,13.0,31.0,3.0,4.0,1.0,1.0,35.0,0.0,1.0,8.0,1.0,3.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,302.0,3.0,9.0,6.0,0.0,0.0,1.0,1.0,3.0,3.0,1.0,0.0,1.0,1.0,60.0,2501.0,21.0,1.0,12.0,2020.0,44166.0,1.0,5.0,2013.0,1361.0,41415.0,0.0,1.0,1.0,995.0,90.0,2751.0,1.0,12.0,2020.0,1.0,1.0,12.0,12.0,1.0,2.0,1.0,2.0,3.0,1.0,1.0,2.0,35.0,34.0,15.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,100.0,0.0,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,X2H6N
3,2 13,KE7,2.0,13.0,2.0,2020.0,1.0,0.0,1.0,1.0,13.0,13.0,14.0,959.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,14.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,13.0,31.0,2.0,1.0,1.0,2.0,60.0,0.0,1.0,8.0,1.0,3.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,302.0,3.0,9.0,6.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,12.0,11.0,1.0,0.0,1.0,NaN,NaN,1.0,NaN,NaN,60.0,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,0.0,NaN,NaN,1.0,1.0,1.0,NaN,0.0,NaN,NaN,NaN,
4,2 16,KE7,2.0,16.0,2.0,2020.0,4.0,1.0,4.0,4.0,13.0,13.0,14.0,1136.0,8.0,1.0,1.0,12.0,2020.0,1452.0,44166.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,11.0,13.0,12.0,2.0,4.0,1.0,1.0,56.0,0.0,0.0,8.0,1.0,3.0,2.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,6.0,0.0,15.0,0.0,0.0,0.0,0.0,302.0,3.0,9.0,6.0,0.0,0.0,1.0,0.0,3.0,3.0,1.0,0.0,0.0,1.0,20.0,609.0,2.0,1.0,12.0,2020.0,44166.0,2.0,4.0,2019.0,1432.0,43557.0,0.0,1.0,1.0,3.0,20.0,609.0,1.0,12.0,2020.0,1.0,1.0,12.0,11.0,1.0,1.0,1.0,2.0,3.0,1.0,1.0,0.0,56.0,62.0,21.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,107.0,0.0,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,W6C0F

In [51]:
combined_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7952 entries, 0 to 7951
Columns: 125 entries, household_id to line_number_of_person_slept_in_net_e_2
dtypes: float64(122), object(3)
memory usage: 7.6+ MB

In [20]:
# def collapse_columns(df_2, prefixes, suffixes, combined_column_prefix):
#     for prefix in prefixes:
#         # Extracting columns with the specified prefix and suffixes
#         relevant_columns = [col for col in df_2.columns if col.startswith(prefix) and any(col.endswith(suffix) for suffix in suffixes)]

#         # Creating a new column 'combined_column' with the highest value for each row
#         combined_column_name = f'{combined_column_prefix}_{prefix}'
#         df_2[combined_column_name] = df_2[relevant_columns].max(axis=1)

#         # Dropping the original columns
#         df_2.drop(relevant_columns, axis=1, inplace=True)

#     return df_2

# # Specify the prefixes and suffixes for the columns you want to collapse
# prefixes_to_collapse = ['HML32$', 'SH305E$', 'HML35$', 'SB115B$', 'SB115F$', 'HML8$', 'SH130$', 'SB115A$', 'SB115E$', 'SB119$',
#                        'HML33$', 'SB115C$', 'SB115G$', 'SB122$', 'HC57$', 'SB115D$', 'SB115H$', 'HML5$']
# suffixes = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14',
#             '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']

# # Call the function for collapsing the specified columns
# collapsed_df_1 = collapse_columns(df_2, prefixes_to_collapse, suffixes, 'collapsed')

# # Display the resulting DataFrame
# collapsed_df_1

In [21]:
# combined_df = pd.merge(df, collapsed_df_1, on='Household_ID', how='inner')
# combined_df

In [22]:
# # Checking percentage of missing values
# def missing_values_summary(combined_df):
#     """
#     Generate a summary of missing values for each column in a DataFrame.

#     Parameters:
#     - df: pandas DataFrame

#     Returns:
#     - DataFrame containing columns with NaN values and their percentages
#     """

#     # Checking percentage of missing values
#     nan_info = combined_df.isna().sum()
#     nan_percentage = (nan_info / len(combined_df)) * 100

#     # Creating a DataFrame with columns and their NaN percentages
#     nan_df = pd.DataFrame({'Column': nan_info.index, 'NaN Count': nan_info.values, 'NaN Percentage': nan_percentage.values})

#     # Filtering columns with NaN values
#     columns_with_nan = nan_df[nan_df['NaN Count'] > 0]

#     return columns_with_nan


# # Calling the function on df_cleaned
# result = missing_values_summary(combined_df)
# result.tail(50)

In [23]:
# # Replacing empty(missing values) with NaN
# combined_df.replace(' ',np.nan, inplace=True)
# combined_df.replace("",np.nan, inplace=True)

In [24]:
# # Calculating the threshold for 80% empty columns
# threshold = 0.8 * len(combined_df)

# # Dropping columns with 80% or more empty values
# combined_df_cleaned = combined_df.dropna(axis=1, thresh=threshold)

# # Displaying the cleaned DataFrame
# combined_df_cleaned

In [25]:
# for col in combined_df_cleaned.columns[:343]:
#     print(col)

In [26]:
# result = missing_values_summary(combined_df_cleaned)
# result.tail(100)

In [27]:
# combined_df_cleaned['collapsed_HML32$']

## 2.2) Data Cleaning

In [28]:
# # Replacing empty(missing values) with NaN
# df.replace(' ',np.nan, inplace=True)
# df.replace("",np.nan, inplace=True)
# df_2.replace(' ',np.nan, inplace=True)
# df_2.replace("",np.nan, inplace=True)

In [29]:
# # Calculating the threshold for 80% empty columns
# threshold = 0.8 * len(df)

# # Dropping columns with 80% or more empty values
# df_cleaned = df.dropna(axis=1, thresh=threshold)

In [30]:
# # Calculating the threshold for 80% empty columns
# threshold_1 = 0.8 * len(df_2)

# # Dropping columns with 80% or more empty values
# df_2_cleaned = df_2.dropna(axis=1, thresh=threshold_1)

In [31]:
# df_cleaned

In [32]:
# df_2_cleaned

In [33]:
# df_cleaned.columns == df_2_cleaned.columns

In [34]:
# column_list = ['SH119', 'SH130$1', 'SH130$2', 'SH130$3', 'SH130$4', 'SH130$5', 'SH130$6', 'SH130$7', 'HML32$01', 'HML32$02', 'HML32$03', 
#               'HML32$04', 'HML32$05', 'HML32$06', 'HML32$07', 'HML32$08', 'HML32$09', 'HML32$10', 'HML32$11', 'HML32$12', 'HML32$13', 
#               'HML32$14', 'HML32$15', 'HML32$16', 'HML32$17', 'HML32$18', 'HML32$19', 'HML32$20', 'HML32$21', 'HML32$22', 'HML32$23', 
#               'HML32$24', 'HML35$01', 'HML35$02', 'HML35$03', 'HML35$04', 'HML35$05', 'HML35$06', 'HML35$07', 'HML35$08', 'HML35$09', 
#               'HML35$10', 'HML35$11', 'HML35$12', 'HML35$13', 'HML35$14', 'HML35$15', 'HML35$16', 'HML35$17', 'HML35$18', 'HML35$19', 
#               'HML35$20', 'HML35$21', 'HML35$22', 'HML35$23', 'HML35$24', 'HML33$01', 'HML33$02', 'HML33$03', 'HML33$04', 'HML33$05', 
#               'HML33$06', 'HML33$07', 'HML33$08', 'HML33$09', 'HML33$10', 'HML33$11', 'HML33$12', 'HML33$13', 'HML33$14', 'HML33$15', 
#               'HML33$16', 'HML33$17', 'HML33$18', 'HML33$19', 'HML33$20', 'HML33$21', 'HML33$22', 'HML33$23', 'HML33$24', 'HC57$01', 
#               'HC57$02', 'HC57$03', 'HC57$04', 'HC57$05', 'HC57$06', 'HC57$07', 'HC57$08', 'HC57$09', 'HC57$10', 'HC57$11', 'HC57$12', 
#               'HC57$13', 'HC57$14', 'HC57$15', 'HC57$16', 'HC57$17', 'HC57$18', 'HC57$19', 'HC57$20', 'SB115A$01', 'SB115A$02', 
#               'SB115A$03', 'SB115A$04', 'SB115A$05', 'SB115A$06', 'SB115A$07', 'SB115A$08', 'SB115A$09', 'SB115A$10', 'SB115A$11', 
#               'SB115A$12', 'SB115A$13', 'SB115A$14', 'SB115A$15', 'SB115A$16', 'SB115A$17', 'SB115A$18', 'SB115A$19', 'SB115A$20', 
#               'SB115B$01', 'SB115B$02', 'SB115B$03', 'SB115B$04', 'SB115B$05', 'SB115B$06', 'SB115B$07', 'SB115B$08', 'SB115B$09', 
#               'SB115B$10', 'SB115B$11', 'SB115B$12', 'SB115B$13', 'SB115B$14', 'SB115B$15', 'SB115B$16', 'SB115B$17', 'SB115B$18', 
#               'SB115B$19', 'SB115B$20', 'SB115C$01', 'SB115C$02', 'SB115C$03', 'SB115C$04', 'SB115C$05', 'SB115C$06', 'SB115C$07', 
#               'SB115C$08', 'SB115C$09', 'SB115C$10', 'SB115C$11', 'SB115C$12', 'SB115C$13', 'SB115C$14', 'SB115C$15', 'SB115C$16', 
#               'SB115C$17', 'SB115C$18', 'SB115C$19', 'SB115C$20', 'SB115D$01', 'SB115D$02', 'SB115D$03', 'SB115D$04', 'SB115D$05', 
#               'SB115D$06', 'SB115D$07', 'SB115D$08', 'SB115D$09', 'SB115D$10', 'SB115D$11', 'SB115D$12', 'SB115D$13', 'SB115D$14', 
#               'SB115D$15', 'SB115D$16', 'SB115D$17', 'SB115D$18', 'SB115D$19', 'SB115D$20', 'SB115E$01', 'SB115E$02', 'SB115E$03', 
#               'SB115E$04', 'SB115E$05', 'SB115E$06', 'SB115E$07', 'SB115E$08', 'SB115E$09', 'SB115E$10', 'SB115E$11', 'SB115E$12', 
#               'SB115E$13', 'SB115E$14', 'SB115E$15', 'SB115E$16', 'SB115E$17', 'SB115E$18', 'SB115E$19', 'SB115E$20', 'SB115F$01', 
#               'SB115F$02', 'SB115F$03', 'SB115F$04', 'SB115F$05', 'SB115F$06','SB115F$07', 'SB115F$08', 'SB115F$09', 'SB115F$10', 
#               'SB115F$11', 'SB115F$12', 'SB115F$13', 'SB115F$14', 'SB115F$15', 'SB115F$16', 'SB115F$17', 'SB115F$18', 'SB115F$19', 
#               'SB115F$20', 'SB115G$01', 'SB115G$02', 'SB115G$03', 'SB115G$04', 'SB115G$05', 'SB115G$06', 'SB115G$07', 'SB115G$08', 
#               'SB115G$09', 'SB115G$10', 'SB115G$11', 'SB115G$12', 'SB115G$13', 'SB115G$14', 'SB115G$15', 'SB115G$16', 'SB115G$17', 
#               'SB115G$18', 'SB115G$19', 'SB115G$20', 'SB115H$01', 'SB115H$02', 'SB115H$03', 'SB115H$04', 'SB115H$05', 'SB115H$06', 
#               'SB115H$07', 'SB115H$08', 'SB115H$09', 'SB115H$10', 'SB115H$11', 'SB115H$12', 'SB115H$13', 'SB115H$14', 'SB115H$15', 
#               'SB115H$16', 'SB115H$17', 'SB115H$18', 'SB115H$19', 'SB115H$20', 'SB119$01', 'SB119$02', 'SB119$03', 'SB119$04', 'SB119$05', 
#               'SB119$06', 'SB119$07', 'SB119$08', 'SB119$09', 'SB119$10', 'SB119$11', 'SB119$12', 'SB119$13', 'SB119$14', 'SB119$15', 
#               'SB119$16', 'SB119$17', 'SB119$18', 'SB119$19', 'SB119$20', 'SB122$01', 'SB122$02', 'SB122$03', 'SB122$04', 'SB122$05', 
#               'SB122$06', 'SB122$07', 'SB122$08', 'SB122$09', 'SB122$10', 'SB122$11', 'SB122$12', 'SB122$13', 'SB122$14', 'SB122$15', 
#               'SB122$16', 'SB122$17', 'SB122$18', 'SB122$19', 'SB122$20', 'HML5$1', 'HML5$2', 'HML5$3', 'HML5$4', 'HML5$5', 'HML5$6', 
#               'HML5$7', 'HML8$1']

# new_df_2 = df_2[column_list].copy()

# new_df_2

In [35]:
# new_df_2.isna().sum()

In [36]:
# new_df_2['HML35$01']

In [37]:
# import pandas as pd

# # Assuming 'df' is your DataFrame containing health test data
# # Replace 'your_prefix' with the common prefix of the columns you want to collapse
# prefix = 'your_prefix'

# # Get a list of columns that have the specified prefix
# columns_to_collapse = [col for col in df.columns if col.startswith(prefix)]

# # Create a new column by concatenating values from columns with the specified prefix
# df['collapsed_column'] = df[columns_to_collapse].astype(str).agg(','.join, axis=1)

# # Drop the original columns if needed
# df.drop(columns=columns_to_collapse, inplace=True)

# # Display the resulting DataFrame
# df

In [38]:
# import pandas as pd

# def collapse_columns(df, prefix, suffixes, combined_column):
#     # Extract columns with the specified prefix and suffixes
#     relevant_columns = [col for col in df.columns if col.startswith(prefix) and any(col.endswith(suffix) for suffix in suffixes)]

#     # Create a new column 'combined_column' with the highest value for each row
#     df[combined_column] = df[relevant_columns].max(axis=1)

#     # Replace NaN values in the 'combined_column' with 0
#     df[combined_column].fillna(0, inplace=True)

#     # Drop the original columns
#     df.drop(relevant_columns, axis=1, inplace=True)

#     return df

# # Example usage:
# # Assuming your DataFrame is named 'your_dataframe'
# your_dataframe = pd.DataFrame({
#     'HML32$01': [0, 1, 0],
#     'HML32$02': [1, 0, 1],
#     'OtherColumn': ['A', 'B', 'C']
# })

# collapsed_df = collapse_columns(your_dataframe, 'HML32$', ['01', '02'], 'HML32_combined')

# collapsed_df

In [39]:
# # Checking percentage of missing values
# def missing_values_summary(df):
#     """
#     Generate a summary of missing values for each column in a DataFrame.

#     Parameters:
#     - df: pandas DataFrame

#     Returns:
#     - DataFrame containing columns with NaN values and their percentages
#     """

#     # Checking percentage of missing values
#     nan_info = df.isna().sum()
#     nan_percentage = (nan_info / len(df)) * 100

#     # Creating a DataFrame with columns and their NaN percentages
#     nan_df = pd.DataFrame({'Column': nan_info.index, 'NaN Count': nan_info.values, 'NaN Percentage': nan_percentage.values})

#     # Filtering columns with NaN values
#     columns_with_nan = nan_df[nan_df['NaN Count'] > 0]

#     return columns_with_nan


# # Calling the function on df_cleaned
# result = missing_values_summary(df_cleaned)
# result

In [40]:
# # Checking percentage of missing values on df_2_cleaned
# result_2 = missing_values_summary(df_2_cleaned)
# result_2

In [41]:
# # Saving column names into an Excel file

# # Getting the column names
# column_names = df_cleaned.columns

# # Creating a DataFrame with a single column containing the column names
# column_names_df = pd.DataFrame(column_names, columns=["Column Names"])

# # Specifying the Excel file path
# excel_file_path = 'column_names.xlsx'

# # Writing the DataFrame to the Excel file
# column_names_df.to_excel(excel_file_path, index=False)

In [42]:
# # Converting column names to labels dictionary to a DataFrame
# labels_df = pd.DataFrame(list(meta.column_names_to_labels.items()), columns=['Column Name', 'Label'])

# # Saving the DataFrame to an Excel file
# excel_file_path = 'column_names_to_labels.xlsx'
# labels_df.to_excel(excel_file_path, index=False)

In [43]:
# # Converting Coded column names into readable column names

# # Loading the Excel file with the column names into a Pandas DataFrame
# excel_file_path = 'column_names_dictionary.xlsx'
# df_excel = pd.read_excel(excel_file_path, sheet_name='Sheet1')

# # Displaying the original DataFrame with the column headers
# print("Original Excel DataFrame:")
# print(df_excel)

# # Replacing the column headers using a for loop
# for old_header, new_header in zip(df_cleaned.columns, df_excel['Label Names']):
#     df_cleaned.rename(columns={old_header: new_header}, inplace=True)

# # Displaying the DataFrame with the updated column headers
# df_cleaned

In [44]:
# # Imputing the DataFrame 

# # Initializing  SimpleImputer
# imputer = SimpleImputer(strategy='mean')

# # Identifying numeric and non-numeric columns
# numeric_cols = df_cleaned.select_dtypes(include=['float64', 'int64']).columns
# non_numeric_cols = df_cleaned.select_dtypes(exclude=['float64', 'int64']).columns

# # Imputing numeric columns
# numeric_imputer = SimpleImputer(strategy='mean')
# df_cleaned[numeric_cols] = numeric_imputer.fit_transform(df_cleaned[numeric_cols])

# # Imputing non-numeric columns
# non_numeric_imputer = SimpleImputer(strategy='most_frequent')
# df_cleaned[non_numeric_cols] = non_numeric_imputer.fit_transform(df_cleaned[non_numeric_cols])

In [45]:
# # Checking percentage of missing values

# result = missing_values_summary(df_cleaned)
# result

## 2.3) EDA

In [ ]:
# Imputing the df_2_cleaned DataFrame 
from sklearn.impute import SimpleImputer
# Imputing numeric columns
numeric_imputer = SimpleImputer(strategy='mean')
df_2_cleaned[columns_filled_with_mean_2] = numeric_imputer.fit_transform(df_2_cleaned[columns_filled_with_mean_2])

# Imputing non-numeric columns
non_numeric_imputer = SimpleImputer(strategy='most_frequent')
df_2_cleaned[columns_filled_with_mode_2] = non_numeric_imputer.fit_transform(df_2_cleaned[columns_filled_with_mode_2])

In [ ]:
columns_filled_with_mean_2 = [number_of_household_members, number_of_eligible_women, number_of_de_facto_household_members, number_of_children_resident, age_household_head, number_of_mosquito_nets, number_of_mosquito_nets_specific, children_under_mosquito_net, age_of_member_1, age_of_member_2, corr_age_1, corr_age_2, age_of_household_members_7, age_of_household_members_8, age_of_household_members_9, childs_age_in_months_3, childs_age_in_months_23]
columns_filled_with_mode_2 = [region_of_residence, type_of_place, main_source_drink_water, own_electricity, own_radio, own_television, own_refrigerator, member_own_bicycle, member_own_motorcycle member_own_car, main_wall_material, sex_head_household, household_has_telephone, shares_toilet, has_mosquito_net, has_mobile, has_watch, owns_animaldrawn_cart, owns_boat_wmotor, owns_computer, owns_agric_land, owns_livestock, owns_cattle, owns_cows_bulls, owns_goats, owns_sheep, owns_poultry, owns_donkeys, owns_pigs, county, malaria_endemicity_zone, has_solar_panel, has_table, has_chair, has_bed, has_cupboard, has_clock, has_microwave, has_dvd_player, has_cd_player, use_phone_for_finc_transactions, sex_of_member_1, sex_of_member_2, mosq_net_type_1, mosq_net_type_2, slept_treated_net_1, hectares_of_agricultural_land, children_hemoglobin_elig_7, illness_or_symptoms_extreme_weakness_5, illness_or_symptoms_loss_of_consciousness_7, llness_or_symptoms_rapid_breathing_8, illness_or_symptoms_rapid_breathing_9, illness_or_symptoms_rapid_breathing_10, illness_or_symptoms_seizures_12, illness_or_symptoms_seizures_13, illness_or_symptoms_seizures_14, taken_act_for_malaria_treatment_in_past_two_weeks_4, taken_act_for_malaria_treatment_in_past_two_weeks_5, taken_act_for_malaria_treatment_in_past_two_weeks_6, someone_slept_under_net_last_night_6, someone_slept_under_net_last_night_7]

In [3]:
# # Visualizing distributions of numerical features
for col in numeric_cols:
     plt.figure(figsize=(8, 6))
     sns.histplot(df[col].dropna(), kde=True)
     plt.title(f'Distribution of {col}')
     plt.show()

NameError: name 'numeric_cols' is not defined

In [47]:
# # Visualize relationships between variables
# sns.pairplot(df_cleaned)
# plt.show()

In [48]:
# # Correlation heatmap
# correlation_matrix = df_cleaned.corr()
# plt.figure(figsize=(10, 8))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
# plt.title('Correlation Heatmap')
# plt.show()

## 2.4) Building Model

* Model Interpretability and Explainability:

Enhance model interpretability to provide actionable insights for decision-makers by employing techniques such as SHAP values or feature importance analysis.

## 2.5) Conclusion

## 2.6) Recommendation

## 2.7) Model Deployment